.header {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 7px;
  margin: 0 auto;
}

.sign-in, .sign-out {
  color: #fff;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2px;
  font-family: arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
}

.left-side {
  text-align: left;
  flex: 1;
}

.right-side {
  text-align: right;
  flex: 1;
}

.user-info {
  display: inline-block;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.header img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.user-info .name {
  margin-left: 5px;
}

.body {
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 130px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
}

.input-search-box {
  width: 584px;
  height: 44px;
  margin-bottom: 15px;
}

.search-buttons {
  padding-top: 18px;
}

.search-buttons input {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
}